#tournament-list {
  margin-top: 1em;
}

.tournament {
  border: 1px solid #0ff;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #111;
  color: #0ff;
  font-family: monospace;
  border-radius: 6px;
}

.tournament h4 {
  margin: 0 0 0.5em 0;
}

.tournament p {
  margin: 0.3em 0;
}
